/* Inserta tu CSS aqui */

#big-uno, #big-dos{
	width: 400px;
	height: 400px;
	margin: 10px;
}

#big-uno{
	background-color: #E62B1F;
}

#big-dos{
	background-color: #2E30ED;
}

#medium-uno, #medium-dos{
	width: 200px;
	height: 200px;
}

#medium-uno{
	background-color: #263ED7;
	position: relative;
	top: 100px;
	left: 100px;
}

#medium-dos{
	background-color: #3B8019;
	position: relative;
	left: 100px;
}

#small-uno, #small-dos{
	width: 100px;
	height: 100px;
}

#small-uno{
	background-color: #E6E730;
}

#small-dos{
	background-color: #000000;
}